/* ApplicationsPage.css */

.app-page {
  /* Minimal custom css if any since most is styled via tailwind */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-orbit {
  animation: orbit 10s linear infinite;
}

.animate-orbit-reverse {
  animation: orbit 15s linear infinite reverse;
}

